body {
    background-color: #f0efeb;
}
header {
    background-color: #AF6B46;
    color: white;
    text-align: center;
    padding: 40px;
}
.row {
    margin-left: 15px;
    }

.card {
    margin: 30px;
}
#manager-header {
    background-color: #89896C;
    color: white;
}
#engineer-header {
    background-color: #cb997e;
    color: white;
}
#intern-header {
    background-color: #a5a58d;
    color: white;
}
